body {
    background-color: rgb(185, 182, 0);
    height: 100%; 
    position: relative;
}

header {
    width: 100%;
    height: 70px;
    display: block;
    /* background-color: rgb(143, 206, 25); */
    background-color: rgb(245, 245, 245);
    background-image: url(./asset/warteg.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 7px;
}

.title {
    float: left;
    vertical-align: middle;
    padding-top: 3px;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.788);
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    text-shadow: -2px 1px black;
}

.checkout {
    background-color: greenyellow;
    opacity: 100%;
    border-radius: 7px;
    /* display:inline-flex; */
    width: 26%;
    height: 74%;
    border: 1px solid black;
    float: left;
    position: fixed;
    padding: auto;
}

.menu {
    background-color: rgba(172, 255, 47, 0);
    width: 75%;
    max-width: 530px;
    height: 74%;
    left: 29%;
    border: 1px solid black;
    float: left;
    overflow-y: scroll ;
    position: fixed;
    padding: auto;
    border-radius: 7px;
  }

.h1 {
    font-family: 'Roboto', sans-serif;
}

main {
    display: inline-flex;
    width: 100%;
    height: 100%;
  }

footer {
    width: 100%;
    height: 50px;
    display: block;
    /* background-color: rgb(143, 206, 25); */
    background-color: rgb(95, 77, 44);
    border-radius: 7px;
    top: 90%;
    position: fixed;
}

.arrayClass {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.card {
    padding: 10px 20px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
  }

#chckout-btn {
    size: 20%;

}