.body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-image: url(./asset/bg2.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  
}


header {
  width: 100%;
  height: 70px;
  display: block;
  /* background-color: rgb(143, 206, 25); */
  background-color: rgba(245, 245, 245, 0.075);

  opacity: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 7px;
}

.header {
  margin-top: auto;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  padding-top: 13px;
  
  color: rgb(255, 255, 255);
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  text-shadow: -2px 1px black;
}

li button {
  /* justify-content: flex-end; */
  margin-right: 30px;
  float: right;
  clear: right;
}

li {
  /* clear: right; */
  margin: 20px 0;
}

#total {
  /* float: right; */
  /* margin-right: 40%; */
  /* justify-content: center; */
  justify-content: space-evenly;
  padding-left: 140px;
  color: white;
  /* text-align: center; */
}



h1 {
  text-align: center;
}

li {
  list-style-type: none;
  color: white;
}


.checkout {
    background-color: rgba(0, 0, 0, 0.432);
    opacity: 100%;
    border-radius: 7px;
    /* display:inline-flex; */
    width: 26%;
    height: 78%;
    float: left;
    position: fixed;
    padding: auto;
    margin-left: 0.5%;
}

#judul {
  color: white ;
  padding-left: 2%;
}

.menu {
    background-color: rgba(209, 209, 206, 0);
    width: 70%;
    /* max-width: 530px; */
    height: 78%;
    left: 29%;
    float: left;
    overflow-y: scroll;
    position: fixed;
    padding: auto;
    border-radius: 7px;
    /* overflow-y:initial */
  }
  /* -ms-overflow-style: scrollbar; */ 

.h1 {
  font-family: 'Quicksand', sans-serif;;
}

main {
    display: inline-flex;
    width: 100%;

    height: 100%;
  }

.arrayClass {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-left: 2%;
}

.card {
    padding: 10px 20px;
    width: 200px;
    height: 350px;
    border: 2px solid rgba(0, 0, 0, 0);
    margin: 10px;
    /* max-width: fit-content;
    max-height: fit-content; */
    border-radius: 50px;
    background-color: rgba(245, 245, 245, 0.541);
  }

* {
  font-family: 'Quicksand', sans-serif;
}

.buy-btn {
  background-color: #a09035be;
  border-radius: 10px;
  font-size: larger;
}

#chckout-btn {
  margin-left: 25%;
  width: 50%;
  height: 7%;
  font-size: larger;
  border-radius: 10px;
  background-color: #a09035be;
}

.card-img-top {
  height: 150px;
  width: 150px;
  margin-left: 28px;
  padding: 0;
  border-radius: 100px;
}

.card-title {
  width: 180px;
  height: 50px;
  text-align: center;
  font-size: 135%;
  padding-top: 20px;
  margin: 4%;
}

.card-text {
  text-align: center;
  font-size: x-large;
  margin: 2% 2% 10% 2%;
}

.card button{
  height: 50px;
  width: 90px;
  margin-left: 55px;
}

footer {
  width: 99%;
  height: 5%;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  justify-content: first baseline;
  gap: 23%;
  color: white;
  /* background-color: rgb(143, 206, 25); */
  background-color: #a0903593;
  /* border-radius: 7px; */
  top: 92%;
  position: fixed;
  padding: 15px;
  font-size: larger;
  text-align: center;
}

#owner {
  /* display: flex;
  justify-items: center; */
  margin-left: 0;
}

#cp {
  margin: 0;
}

.list-pesanan {
  font-size: 105%;
}